# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
widgets_report/
# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

**/Runner.ipa
**/*.dSYM.zip
**/gc_keys.json
**/api-5492906775978893132-227975-db92d20a2fc1.json
fastlane/report.xml
fastlane/reports.xml
**/private_key.pepk
**/*.jks
**/*.pkey
**/*.p12
**/*.p8
**/*.pem
**/*.jks.old
**/key.properties