*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: 16px;

  color: var(--main-text-color);
  background: var(--main-bg-color);

  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Google Sans", "Roboto", sans-serif;
  color: var(--subtitle-color);
}

header.page-header {
  font-family: "Google Sans", "Roboto", sans-serif;
}

table {
  width: 100%;
  margin: 0;
  border-spacing: 0;
  font-size: inherit;
  table-layout: auto;
}

pre,
code {
  margin: 0;
}
